#------------------------------------------------------------------------------
#
# \brief	Git ignore file
#
#------------------------------------------------------------------------------


build
*.pro.user
*~

doc/html
doc/latex
doc_generated

CMakeLists.txt.*


#---fin------------------------------------------------------------------------
